body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
}

/* HEADER */
header {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    padding: 30px;
}

/* MENU */
nav {
    background-color: #333;
    text-align: center;
}

nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background-color: #0d6efd;
}

/* SECTION */
section {
    padding: 30px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

/* COURSE */
.course {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.course img {
    width: 100px;
    height: 100px;
}

/* FORM */
form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background-color: #0d6efd;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #084298;
}

/* FOOTER */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

